{% extends "table_stu.html" %}
   {% load staticfiles %}
   {% block bodytop%}
   	<h1><i class="fa fa-th-list"></i> 设备信息</h1>
          <p>Device info</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">设备信息查询</li>
          <li class="breadcrumb-item active"><a href="#">设备信息</a></li>
        </ul>
   {% endblock%}

   {% block table%}
      <!--  搜索框  -->
      <div class="demoTable">
        搜索设备:
        <div class="layui-inline">
          <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
      </div>

       <!-- 我们的表格 --> 
      <table class="layui-hide layui-form" id="table" lay-filter="table"></table>
       <!-- 弹出的表单 --> 
      <form id="tableform" lay-filter="tableform" class="layui-form" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">型号</label>
            <div class="layui-input-block">
                <input  name="modelid" required="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备名</label>
            <div class="layui-input-block">
                <input  name="name" required="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">制造商名</label>
            <div class="layui-input-block">
              <select name="manufactorName">
               <option value="">选择制造商</option>
                  {% for item in data%}
              <option value="{{ item.name }}">{{ item.name }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型名</label>
            <div class="layui-input-block">
                <input  name="typeName" required="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input  name="price" required="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">购买日期</label>
            <div class="layui-input-block">
                <input name="buyDate" type="text" class="layui-input" id="date1" placeholder="yyyy-MM-dd">
            </div>
        </div>
        
          
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="tableform">提交</button>
                <button  type="reset" class="layui-btn">重置</button>
          </div>
        </div>
      </form>
   {%endblock%}


  {%block jss%}


  <!-- <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script> -->
  <script type="text/javascript">
   layui.use(['layer', 'table', 'element', 'form','laydate'], function () {
      var element=layui.element;
      /*两个日期*/
        var laydate = layui.laydate;
        laydate.render({
          elem: '#date1'
        });
        var layer = layui.layer //弹层
            , table = layui.table //表格
            , form = layui.form;
        //执行一个 table 实例
        table.render({
            elem: '#table'
            , width: 'auto'
            , page: true //开启分页
            ,toolbar:'#toolbarDemo' 
            , cols: [[ //表头
                {type:'numbers'}
                ,{type: 'checkbox'}
                // ,{field: 'id', title: 'ID', width: 70, sort: true,unresize: true}
                // , {field: 'username', title: '用户名', width: 80}
                , {field: 'modelid', title: '型号', width: 120,unresize: true}
                , {field: 'name', title: '设备名', width: 120,unresize: true}
                , {field: 'manufactorName', title: '制造商', width: 120,  unresize: true}
                , {field: 'typeName', title: '类型', width: 120,unresize: true }
                , {field: 'inDate', title: '入库日期', width: 120,unresize: true }
                , {field: 'buyDate', title: '购买日期', width: 120,unresize: true }
                , {field: 'price', title: '价格', width: 120,unresize: true }
                , {field: 'use', title: '使用次数',width: 120,unresize: true }
                , {field: 'state', title: '状态',width: 120,unresize: true }        
                
            ]]
            ,id:'tab'
            ,method: 'post'
            ,url:'/queryDevice/' 
            // ,url:'data2.json'
        });
        //监听工具条
        table.on('tool(table)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                layer.open({
                    type: 1,
                    area: ['400px', '600px'],
                    title: "更改信息",
                    fixed: false, //不固定
                    maxmin: true,
                    maxmin: false,
                    shadeClose:false,
                    content: $('#tableform')
                  });

                  layui.form.val("tableform",{
                     'name':data,name,
                      'manufactorName':data.manufactorName,
                      'typeName':data.typeName,
                      'price':data.price,
                      'buyDate':data.buyDate,
                  });
                  layui.form.on("submit(tableform)",function(data2){
                    data2.field.id=data.id;
                    $.post("/editDevice/",data2.field,function(){
                      table.reload('tab',{
                                      where: {
                                      }
                                      ,page: {
                                        curr: 1 //重新从第 1 页开始
                                      }
                                    });
                              });

                          });
            }
            else if (layEvent === 'del') {
                var f=layer.confirm('真的删除行么', function (index) {  
                    $.post("/delDevice/",{id:data.id},function(){
                      
                      table.reload('tab',{
                            where: { //设定异步数据接口的额外参数，任意设
                             /*  aaaaaa: 'xxx'
                              ,bbb: 'yyy' */
                              //…
                            }
                            ,page: {
                              curr: 1 //重新从第 1 页开始
                            }
                          });
                      layer.close(f);
                        layer.msg("删除成功");
                  }   
                    )
                          return false;
                });
            }
        });

        //test
        table.on('toolbar(table)', function(obj){
        var checkStatus = table.checkStatus(obj.config.id)
        ,data = checkStatus.data; //获取选中的数据
        switch(obj.event){
          case 'add':
         var f =layer.open({
                type: 1,
                area: ['400px', '600px'],
                title: "添加信息",
                fixed: false, //不固定
                maxmin: true,
                maxmin: false,
                shadeClose:false,
                content: $('#tableform')
              });
              $("#tableform button[type='reset']").click()
              layui.form.on("submit(tableform)",function(data2){
            $.post("/addDevice/",data2.field,function(){
              table.reload('tab',{
                    where: { 
                    }
                    ,page: {
                      curr: 1 //重新从第 1 页开始
                    }
                  });
            });
            return false;
              });                
      break;
      case 'update':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else if(data.length > 1){
          layer.msg('只能同时编辑一个');
        } else {
           layer.open({
            type: 1,
            area: ['400px', '600px'],
            title: "修改信息",
            fixed: false, //不固定
            maxmin: true,
            maxmin: false,
            shadeClose:false,
            content: $('#tableform')
          });
          //表单值初始化
          form.val("tableform",{
            //"id":data.id,
              'modelid':data[0].modelid,
              'name':data[0].name,
              'manufactorName':data[0].manufactorName,
              'typeName':data[0].typeName,
              'price':data[0].price,
              'buyDate':data[0].buyDate,
         });
                          
          layui.form.on("submit(tableform)",function(data2){
              data2.field.id=data[0].id;
              $.post("/editDevice/",data2.field,function(){
                table.reload('tab',{
                    where: { 
                    }
                    ,page: {
                      curr: 1 //重新从第 1 页开始
                    }
                  });
              });  
              layer.msg("编辑成功");
              return false;
          })
        }
      break;
      case 'delete':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else {
            //向服务端发送删除指令
            data.forEach(obj=>$.post("/delDevice/",{id:obj.id},function(){
              table.reload('tab',{
                  where: { //设定异步数据接口的额外参数，任意设
                  }
                  ,page: {
                    curr: 1 //重新从第 1 页开始
                  }
                });}));
            layer.msg("删除成功");
        }
      break;
    };
  });
        var $ = layui.$, active = {
    reload: function(){
      var demoReload = $('#demoReload');
      
      //执行重载
      table.reload('tab', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          key: {
            name: demoReload.val()
          }
        }
      });
    }
  };
  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
    });
</script>
 
{%endblock%}